* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Oxygen', sans-serif;
    box-sizing: border-box;
}

/* Fonts */
h2 {
    color: #666666;
    font-size: 20px;
    font-weight: 700;
}

p {
    font-size: 13px;
    line-height: 1.4em;
    margin: 0;
}

p, h2 {
    padding: 10px 20px;
}


/* Container */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
  }
  @media (max-width: 767px){
      .container {
          width: 90%;
      }
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 80%;
    }
  }

/* Wrapper */
.wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
}

/* Parallax Effect */
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Common Button Style */
button {
    font-size: 1.0rem;
    color: white;
    border: none;
    border-radius: 10px;
    margin: auto 25%;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 10px 30px;
    transition: all 0.4s ease;
}

button:hover {
    cursor: pointer;
}

/* Button Light */
.btn-light {
    background-color: white;
    color: #666666;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.btn-light:hover{
    background-color: #E6E6E6;
}

/* Dark Button */
.btn-dark {
    background-color: #383e4c;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 10px 30px;
}

/* Green Button */
.btn-green {
    background-color: #178A27;
    color: white;
    font-size: 1.1rem;
    border-radius: 5px;
}

.btn-green:hover {
    background-color: #449D44;
}

/* Blue Button */
.btn-blue {
    background-color: #1686C1;
    color: white;
    font-size: 1.1rem;
    border-radius: 5px;
}

.btn-blue:hover{
    background-color: #31B0D5;
}

/* Red Button */
.btn-red {
    background-color: #852406;
    color: white;
    font-size: 1.1rem;
    border-radius: 5px;
}

.btn-red:hover{
    background-color: #C9302C;
}

/* button text styles */
[class*="btn-"] a {
    text-decoration: none;
    color: white;

}

[class*="btn-light"] a {
    text-decoration: none;
    color: gray;
}

/* Navbar */
.navbar {
    background-color: #383e4c;
    width: 100vw;
    position: fixed;
    height: 8vh;
}

/* Navbar Buttons */

.navBtn {
    background-color: #383e4c;
    margin: 25px 0;
    margin-right: 20px;
}

ul li a button {
    border-radius: 0;
    border: 1px solid gray;
    padding: 10px 25px;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
}

button:focus {
    outline: none;
}

ul li a button:hover {
    cursor: pointer;
    transition: all 0.7s ease;
    background-color: #49505f;
}

/* Cover Image */
.cover {
    /* background: ; */
    width: 100vw;
    height: 60vh;
    background-image: url("../img/bg-1-min.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
}

/* Cover Text */
.coverText {
    color: white;
    font-size: 2.3em;
    text-shadow: 2px 2px #000;
}

.cover p {
    text-align: center;
    text-shadow: 1px 1px #000;
    font-size: 25px;
}

/* Section 1  */

div.section1 div.wrapper{
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 8vh 0;
    flex-wrap: wrap;
}

.postImage1-1 {
    background-image: url("../img/1-1.jpg");
}

.postImage1-2 {
    background-image: url("../img/1-2.jpg");
}

.postImage1-3 {
    background-image: url("../img/1-3.jpg");
}

.postImage2-1 {
    background-image: url("../img/2-1.jpg");
}

.postImage2-2 {
    background-image: url("../img/2-2.jpg");
}

[class*="postImage"] {
    width: 100%;
    height: 200px;
    max-height: 300px;
    background-size: cover ;
    background-repeat: no-repeat;
    object-fit: contain;
}

/* Buttons inside Post */

[class*="post"] a {
    display: block;
    text-align: center;
}

/* Section 2 */
.section2 {
    height: 300px;
    background-image: url("../img/bg-2-min.jpg");
    color: white;
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section2 p {
    font-size: 18px;
}

/* Section 3 */

div.section3.wrapper {
    flex-wrap: wrap;
    margin-top: 8vh;
    justify-content: space-evenly;
}

.sec3Image1-1 {
    background: url("../img/4-1.jpg");
}

.sec3Image1-2 {
    background: url("../img/4-2.jpg");
}

.sec3Image1-3 {
    background: url("../img/4-3.jpg");
}

.sec3Image1-4 {
    background: url("../img/4-4.jpg");
}

.sec3Image2-1 {
    background: url("../img/4-5-min.jpg");
}

[class*="sec3Image"] {
    width: 100%;
    height: 250px;
    background-size: cover ;
    background-repeat: no-repeat;
    object-fit: contain;
    margin-bottom: 3%;
}

.sec3Image2-1 {
    height: 400px;
}

.sec3Post {
    height: 480px;
}

/* For all posts */

.post, .post2, .sec3Post, .sec3PostBig {
    background-color: #f2f2f2;
    margin-right: 2%;
}

/* For individual posts */

.post {
    margin-bottom: 60px;
}

.sec3PostBig {
    margin-top: 30px;
    margin-bottom: 8vh;
}


/* Disclaimer */
.disclaimer {
    margin: 30px 0;
    text-align: center;
    line-height: 1px;
}


/* Contact Form */

.contactForm {
    height: 600px;
    background: url("../img/bg-3-min.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
}

.form .wrapper {
    justify-content: start;
    flex-wrap: wrap;
}

.form {
    max-width: 720px !important;
}

form {
    flex: 0 0 46%;
}

.form input {
    background: rgba(242, 242, 242, 0.4);
    color: #000;
    border: none;
    padding: 6px 12px;
    height: 35px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 3px;
}

.form .subject input{
    margin-bottom: 0;
}

.textArea {
    flex: 0 0 46%;
}

.form input:focus {
    outline: none;
}

.form p {
    background: rgba(242, 242, 242, 0.4);
    border-radius: 5px;
    text-align: center;
    padding: 20px 15px;
    margin-bottom: 20px;
    font-size: 15px;
}

.form textarea {
    display: block;
    background: rgba(242, 242, 242, 0.4);
    color: #000;
    padding: 6px 12px;
    height: 135px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

.form textarea:focus {
    outline: none;
}

.form input::placeholder, textarea::placeholder {
    color: #000;
}

#contact-form-heading {
    text-align: center;
    color: white;
    margin-bottom: 25px;
    font-weight: normal;
    font-size: 2.5em;
    text-shadow: 2px 2px #000;
}

#submit-btn {
    display: inline;
    position: absolute;
    background-color: #262628;
    font-size: 18px;
    line-height: 1.7rem;
    /* border-color: #ccc; */
}

#submit-btn:hover {
    background-color: #e6e6e6;
    color: #333;
}

/* Default flex sizes */

.post {
    flex: 0 0 31.33%;
}

.post2 {
    flex: 0 0 48%;
}

.sec3Post {
    flex: 0 0 23%;
}

.sec3PostBig {
    flex: 0 0 98%;   
}

/* Media query for small devices */

@media only screen and (max-width: 768px){
    .coverText {
        font-size: 1.8em;
    }

    .post {
        flex: 0 0 100%;
        max-width: 360px;
        margin-bottom: 30px;
    }

    .post2 {
        flex: 0 0 100%;
        max-width: 555px;
    }

    #post4 {
        margin-top: 60px;
        margin-bottom: 30px;
    }

    #post5 {
        margin-bottom: 35px;
    }

    .sec3Post {
        flex: 0 0 100%;
        max-width: 260px;
        margin-bottom: 30px;
    }

    .sec3PostBig {
        flex: 0 0 100%;   
    }

    nav {
        display: none;
    }

    .form .wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .contactForm {
        height: 700px;
    }

    .form .textArea {
        margin-top: 15px;
        width: 100%;
        max-width: 696px;
    }

    form, .textArea {
        flex: 0 0 100%;
    }

    .contactForm form {
        width: 100%;
        max-width: 696px;
    }

    #submit-btn {
        margin-left: 0;
    }
}

@media only screen and (min-width: 769px) and (max-width: 999px) {
    .container {
        max-width: 750px;
    }

    .sec3Post {
        flex: 0 0 48%;
        max-width: 260px;
    }

    nav {
        display: none;
    }

    #post6, #post7 {
        margin-bottom: 30px;
    }
}

/* Media query for tablets */

@media only screen and (min-width: 1000px) and (max-width: 1199px){
    .container {
        max-width: 970px;
    }

    .sec3Post {
        height: 520px;
    }
}

/* To allign textArea correctly */
@media only screen and (min-width: 769px){
    .form textarea {
        margin-left: 55px;
    }

    #submit-btn {
        margin-left: 55px;
    }
}

