html {
	box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
	box-sizing: inherit;
}


/* Navbar */
.navbar .container {
    justify-content: center;
    border-radius: 0%;
}

.bg-dark {
    background-color: #383e4c !important;
}

[type=button] {
    background-color: #383e4c;
}

/* Cover Image */
.cover {
    /* background: ; */
    width: 100%;
}
.cover img{
    max-width: 100vw;
    max-height: 65vh;
}

/* Cover Text */
/* .front {
    position: relative;
    text-align: center;
}

.coverText {
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(400%, 0%);
} */

/* Section 1  */
.wrapper {
    margin: 5% 0;
    display: flex;
    flex-flow: row wrap;
}

h2, p{
    padding: 4%;
}

@media only screen and (min-width: 750px){
    .post {
        /* color: royalblue; */
        background-color: #f2f2f2;
        margin-right: 2%;
        flex: 0 0 30% !important;
    }
}